body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: verdana;
  font-size: 11px;
}

#container {
  margin-top: 50px;
}

#emails {
  max-height: calc(8 * 1.5em); /* Assuming each row's height is approximately 1.5em */
  overflow-y: auto; /* Enable vertical scrolling */
}

#phones {
  max-height: calc(8 * 1.5em); /* Assuming each row's height is approximately 1.5em */
  overflow-y: auto; /* Enable vertical scrolling */
}

#contacts {
  max-height: calc(8 * 1.5em); /* Assuming each row's height is approximately 1.5em */
  overflow-y: auto; /* Enable vertical scrolling */
}

#dtable {
  font-family: verdana;
  font-size: 11px;
  width: auto !important;
}

#dtableSide {
  font-family: verdana;
  font-size: 11px;
  margin-left: 2px;
}

#dtable thead {
  background-color: #555;  /* Dark Gray */
  color: white;  /* Text Color */
}

#dtableSide thead {
  background-color: #555;  /* Dark Gray */
  color: white;  /* Text Color */
}

